@use "../../global/variables.scss" as vars;
@use "../../global/mixin.scss" as mixin;

.main {
    display: flex;
    flex-direction: column;
    gap: 25px;

    min-width: 400px;
    min-height: 550px;

    @include mixin.medium {
        width: 90%;
    }

    @include mixin.small {
        min-width: 85%;
    }

    overflow: hidden;

    background-color: vars.$base-color;
    border-radius: 3.5px;
}
